@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --ff: 'Playwrite AU SA', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    
}
body{
    background-color: #f5f5f5;
    font-family: var(--ff);
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.bg-video{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.box{
    position: absolute;
    top: 136px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) brightness(1.2);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    min-height: 60vh;
    height: auto;
    margin: auto;
    width: 60%;
    left: 50%;
    z-index: 11;
    transform: translateX(-50%);
}
h1{
    text-align: center;
    padding: 1rem 0;
    font-size: 3rem;
    color: aliceblue;
    font-weight: bold;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
    left: 0;
}
video{
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
button{
    padding: 10px 20px;
    font-size: 1.8rem;
    background-color: #000000;
    color: goldenrod;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    flex-basis: 30%;
}
.date-box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    min-width: 350px;
    max-width: 520px;
    border-radius: 1rem;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem 0;
    background-color: #fffaf057;
}
#date{
    padding: 10px 20px;
    font-size: 1.8rem;
    background-color: #000000;
    color: goldenrod;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    flex-basis: 60%;
}

.result-box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    min-width: 350px;
    max-width: 520px;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1rem 0;
    margin-top: 3rem;
    color: #000;
}
.common{
    padding: 10px 20px;
    font-size: 1.8rem;
    background-color: #fffaf071;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    flex-basis: 30%;
    text-align: center;
}
.day-p{
    font-weight: bold;
    font-size: 2.5rem;
}
button:hover, #date:hover{
    background-color: #000000;
    color: #fff;
}
input[type="date"]::-webkit-calendar-picker-indicator {

    background-color: goldenrod;
    cursor: pointer;

}
@media screen and (max-width: 768px){
    .box{
        width: 90%;
    }
    h1{
        font-size: 2rem;
    }
    
}
@media screen and (max-width: 420px){
  
    .box{
        width: 100%;
        height: fit-content;
        padding: 0;
    }
    .result-box{
        padding: 5px;
        gap: 5px;
        flex-wrap: wrap;
    }
    .date-box{
        margin-top: 1rem;
    }
    .common{
        font-size: 1.2rem;
        flex: 1 0 25%;
    }
    #date{
        font-size: 1.2rem;
    }
    button{
        font-size: 1.2rem;
    }
    .bg-video{
        min-height: 100vh;
        height: max-content;
    }
}